.vjs-control-bar {
    display: none !important;
}

.video-js .vjs-big-play-button {
    background-color: transparent !important;
    font-size: 3.5em;
    border: 0;
    height: 2em !important;
    line-height: 2em !important;
    margin-top: -1em !important;
    opacity: .8;
    display: none !important;
}

.video-js.vjs-ended .vjs-big-play-button {
    display: none !important;
}